body { 
    background-color:#007bff;
}

#quoteDisplay {
        display: flex;
        padding: 0 20px;
        position: relative;
        font-family: 'Barlow Condensed', sans-serif;
        max-width: 620px;
        margin: 80px auto;
        align-self: center;
        color: rgb(0, 0, 0);
}

button {
    padding: 10px 15px;
    background-color: rgb(216, 11, 11);
    color: white;
    font-size: 17px;
    border-radius: 15px;
    position: relative;
}
button:hover {
    transform: scale(0.9);
}